@model ReservationSyste.ViewModels.ReservationVM

@{
    //Layout = "_Layout";
    Layout = "_AdminLte";
}



<div class="card shadow-lg">
    <style>
        #changeOpacity {
            opacity: 100 !important;
        }
        #setup{
            box-shadow: 1px 5px 10px #222;
        }

        #cardHeader {
            box-shadow: 1px 5px 10px #222;
            padding:10px;
            background-color: #f2f2ee;
            color:blue;
        }
    </style>
    <h5 class="card-header"><span id="cardHeader">Setup new room</span></h5>
    <div class="card-body p-5 ml-5 mb-3 mr-5" id="setup">
        <form asp-action="CreateReservation" asp-controller="Reservation" enctype="multipart/form-data">

            <div class="form-group row pb-2">
                <div class="col-sm-3">
                    <label asp-for="@Model.Name" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row pb-2">
                <div class="col-sm-3">
                    <label asp-for="@Model.Content" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="@Model.Content" class="form-control" />
                    <span asp-validation-for="@Model.Content" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row pb-2">
                <div class="col-sm-3">
                    <label asp-for="@Model.Price" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="@Model.Price" class="form-control" />
                    <span asp-validation-for="@Model.Price" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row pb-3">
                <div class="col-sm-3">
                    <label asp-for="@Model.RoomCount" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="@Model.RoomCount" class="form-control" />
                    <span asp-validation-for="@Model.RoomCount" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row pb-2">
                <div class="col-sm-3">
                    <label asp-for="@Model.Image" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <div class="custom-file">
                        <input asp-for="@Model.Image" id="changeOpacity" class="form-control custom-file-input" />
                    </div>
                </div>
            </div>

            <div class="form-group row pb-2">
                <div class="col-sm-3">
                    <label asp-for="@Model.SmokingAllowed" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    @*<input asp-for="Employee.Salary" class="form-control" />*@
                    <select asp-for="@Model.SmokingAllowed" asp-items="@(new SelectList(Model.AllowSmoking, "SmokingStatus", "SmokingStatus"))"
                            class="form-control">
                        <option selected disabled>Select Smoking</option>
                    </select>
                    <span asp-validation-for="@Model.AllowSmoking" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row pb-2">
                <div class="col-sm-3">
                    <label asp-for="@Model.ButlerServiceAvailable" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    @*<input asp-for="Employee.Salary" class="form-control" />*@
                    <select asp-for="@Model.ButlerServiceAvailable" asp-items="@(new SelectList(Model.ButlerServices, "ButlerServiceAv", "ButlerServiceAv"))"
                            class="form-control">
                        <option selected disabled>Select Butler Service</option>
                    </select>
                    <span asp-validation-for="@Model.ButlerServiceAvailable" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row pb-2">
                <div class="col-sm-3">
                    <label asp-for="@Model.AirConditioning" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    @*<input asp-for="Employee.Salary" class="form-control" />*@
                    <select asp-for="@Model.AirConditioning" asp-items="@(new SelectList(Model.AirConditions, "AirConditioningAv", "AirConditioningAv"))"
                            class="form-control">
                        <option selected disabled>Select AirConditioning</option>
                    </select>
                    <span asp-validation-for="@Model.AirConditioning" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row pb-2 pt-2">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                        <div class="custom-file">
                            <button type="submit" class="btn btn-success float-end">Submit</button>
                        </div>
                    </div>
            </div>

            @section Script{
                @*CODE FOR UPLOAD SINGLE FILE TO WWWROOT/IMAGES FOLDER ON THE SERVER*@
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(fileName);
                        });
                    });
                </script>

            }
            </form>
        </div>
    </div>
