@model DateTimeVM
<div class="card shadow-lg">
    <h5 class="card-header">
        Your price summary
    </h5>
    <div class="card-body">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    @Model.RoomName
                    <span class="float-end">
                        @Model.Price
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Duration
                    <span class="float-end">
                        @Model.Days
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Room(s)
                    <span class ="float-end">
                        @Model.RoomCount
                    </span>
                </div>
            </div>
            </div>
        </div>
        <div class="card-footer">
        <div class="col-md-12">
            Your total price:  <span class="float-end">@(Model.Price * Model.Days)</span>
        </div>
    </div>
</div>